<% provide(:title, "Resume") %>
<h1 class="big-heading">Sherman St. Hill</h1>
<div class="resume-options">
	<ul>
		<li id="download"><%= link_to "Download Resume", "#", :class => "download" %></li>
		<li id="print"><%= link_to "Print Resume", "#", :class => "download" %></li>
	</ul>

</div>
<div class="resume-content">

	<p>I am a versatile and highly motivated IT professional who thrives on new challenges, hands-on technological and team-oriented roles to guarantee positive company growth and mutual success. I have a distinct passion for web development and a partially <i>'self-taught'</i> Ruby on Rails fanatic.</p>
	
	<div class="education">
		<h1 class="stitched h1-text"><b>EDUCATION</b></h1>

		<h2><b>Information Technology and Management  </b><small>Bachelor of Science</small></h2>
		<p class="h6-text">
			<span style="text-align: left">2010 - 2013 &nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>Illinois Institute of Technology, College of Applied Technology, Chicago IL</span>
		</p>

		<h2><b>Electrical Engineering  </b><small>Associate Degree</small></h2>
		<p class="h6-text">
			<span style="text-align: left">2007 - 2009 &nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>Sir Arthur Lewis Community College, Castries St. Lucia</span>
		</p>	
	</div>

	<div class="professional">
		<h1 class="stitched h1-text"><b>PROFESSIONAL EXPERIENCE</b></h1>
		<h2><b>dbHMS  </b><small>JUNE 2012 - PRESENT</small></h2>
		<h6 class="h6-text"><i>Fast-growing architectural engineering firm with over 70 employees in multiple offices</i></h6>
		<div class="job-title">INFORMATION TECHNOLOGY COORDINATOR</div>
		<p class="job-description" style="font-size:0.8em">
			<!-- Managed a budget of approximately $40,000 for rebuilding and improving the IT infrastructure. Maintained and supported the virtualized Windows Server 2012 and Exchange Server 2013 in-house environment as well as support data backup and recovery. Monitored and managed network licensing of software such as Revit and AutoCAD as well as support other softwares such as Adobe Creative Suite, Google Sketchup Pro and IESve. Served as liaison between employees and techonology department to resolve issues, provide administrative support and on-the-job training for new and existing department staff consisting of over 70 employees in three geographical locations.  -->
		</p>
		<hr/>

		<h2><b>OFFICE OF TECHNOLOGY SERVICES</b> <small> MARCH 2012 - MAY 2012</small></h2>
		<h6 class="h6-text"><i>IIT's technology infrastructure and services support office</i></h6>
		<div class="job-title">OTS SUPPORT DESK ASSISTANT</div>
		<p class="job-description" style="font-size:0.8em">
			<!-- Served as the frontline assistance the Illinois Institute of Technology community. Provided troubleshooting and administrative support to students, staff, faculty and alumni with personal system account, networking and technical equipment problems. -->
		</p>
	</div>

	<div id="skills">
		<h1 class="stitched h1-text"><b>SKILLS & INTERESTS</b></h1>
		<section>
			<nav class="cl-effect-10">
			<table>
				<tbody>
					<tr>
						<td>HTML5:</td>
						<td><a href="" data-hover=""><span class="eight-percent"></span></a></td>
						<td>8/10</td>
					</tr>
					<tr>
						<td>CSS3:</td>
						<td><a href="" data-hover=""><span></span></a></td>
						<td>8/10</td>
					</tr>
				</tbody>
			</table>
			</nav>
			<nav class="cl-effect-11">
			<table>
				<tbody>
					<tr>
						<td>HTML5:</td>
						<td><a href="" data-hover=""><span></span></a></td>
						<td>8/10</td>
					</tr>
					<tr>
						<td>CSS3:</td>
						<td><a href="" data-hover=""><span></span></a></td>
						<td>8/10</td>
					</tr>
				</tbody>
			</table>
			</nav>
		</section>
	</div>

	<div class="honors">
		<h1 class="stitched h1-text"><b>HONORS & MEMBERSHIPS</b></h1>
		<ul>
			<li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
			<li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
			<li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
			<li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
		</ul>
	</div>
</div>

